openapi: 3.0.0
x-stoplight:
  id: ot7a4yoytf3g6
info:
  title: Trackier Advertiser API Docs
  description: |
    # Introduction
    The Trackier API is designed for developers, engineers, or anyone else who’s comfortable creating custom-coded solutions or integrating with RESTful APIs.
    Base URL
      <li>URL : https://api.trackier.com</li>
      <li>Description : Main server</li>

    # HTTP Status Code
    Review all global errors for the Trackier API so you can get back to work fast. <hr><b>401 - API Key Invalid</b> <br>Your API key may be invalid, or you’ve attempted to access the wrong data center. <br>The current request requires user authentication. For example, the user does not have the necessary credentials. <hr><b>403 - No permissions visit this resource</b> <br>You are not permitted to access this resource. <br>The request was a valid request, but the server is refusing to respond to it. For example, the user does not have the necessary permissions for the resource. <hr><b>404 - Resource Not Found</b> <br>The requested resource could not be found. <br>This error tells you a specific resource doesn’t exist. It’s possible that the resource has been moved or deleted, or that there’s a typo in your request.<hr><b>500 - Server error, Please contact administrator</b> <br>A generic error message, given when an unexpected condition was encountered and no more specific message is suitable.Please contact Support for more information. <br>This error lets you know our servers have experienced a problem. Although this is rare, please contact support@trackier.com to let us know that you’ve encountered this error
    # Authentication
    Trackier API endpoints can be authenticated via Header:
      - API Key

    # Admin API
    Admin API can be found here [Admin API](/admin?v=2)
  version: v2
  termsOfService: 'https://trackier.com/terms-of-service/'
  contact:
    url: 'https://trackier.com'
    name: API Support
    email: support@trackier.com
  x-logo:
    url: 'https://trackier.com/blog/wp-content/uploads/2019/02/dark-logo.png'
servers:
  - url: 'https://api.trackier.com'
    description: 'Base URL: https://api.trackier.com'
tags:
  - name: Advertiser Campaigns
  - name: Advertiser Performance Report
  - name: Campaign
  - name: Conversion Logs
  - name: Coupon Codes
  - name: Deals
  - name: Performance Report
  - name: Publisher Profile
x-tagGroups:
  - name: Publisher
    tags:
      - Campaign
      - Coupon Codes
      - Deals
      - Publisher Profile
      - Publisher Profile Edit
      - Campaign Request Access
      - Allowed Campaign Count
      - Performance Report
      - Conversion Logs
      - Publisher Categories
  - name: Advertiser
    tags:
      - Camapigns
      - Advertiser Performance Report
paths:
  /v2/advertisers/campaigns:
    get:
      summary: Fetch All Campaigns
      description: Returns all Advertiser campaigns
      operationId: adv-campaigns
      parameters:
        - in: query
          name: apiKey
          description: Advetriser API Key
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserCampaignData'
        '400':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindAllCampaignError'
      tags:
        - Advertiser Campaigns
      security:
        - API Key: []
      x-stoplight:
        id: goksepef2bgxp
  /v2/advertisers/reports:
    get:
      summary: Performance Report
      description: |-
        Performance Report

        Default Grouping: campaign_name, campaign_id
        Default KPI in response: clicks, approvedConversions, payout, revenue, profit

        To update the report grouping or kpi:
        - &group[]=campaign_id
        - List of grouping parameters can be found below
        - &kpi[]=clicks&kpi[]=rejectedClicks&kpi[]=grossClicks
        - List of KPI can be found in query parameter section below
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      type: object
                      properties:
                        campaign_name:
                          type: string
                        campaign_id:
                          type: integer
                        currency:
                          type: string
                        clicks:
                          type: integer
                        approvedConversions:
                          type: integer
                        payout:
                          type: number
                        revenue:
                          type: number
                        profit:
                          type: number
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: '#/components/schemas/Error'
      operationId: get-v2-advertisers-report-custom
      parameters:
        - schema:
            type: array
          in: query
          name: group
          description: 'Allowed Group parameters: campaign_name, campaign_id, campaign_long_id, external_offer_id, campaign_status, campaign_geo, objective, publisher_id, publisher_long_id, source, aff_manager, advertiser_long_id, adv_manager, goal_name, goal_id, sl, ref_camp, ref_camp_id, rlo_id, lp_title, lp_id, os, country, hour, created, month'
        - schema:
            type: array
          in: query
          name: kpi
          description: 'Allowed KPIs: rejectedConversions, rjsa, grossConversions, epc, grossRevenue, grossSaleAmount, extRev, rjrev, carev, approvedConversions, pendingConversions, cancelledConversions, pendingRevenue, pendingSaleAmount, extsa'
        - schema:
            type: array
          in: query
          name: camp_ids
          description: 'To filter the report for a particular campaign add campaign id in query parameters like: &camp_ids[]=16&camp_ids[]=30'
        - schema:
            type: string
          in: query
          name: start
          description: Report start date in YYYY-MM-DD format
        - schema:
            type: string
          in: query
          name: end
          description: Report end date in YYYY-MM-DD format
      tags:
        - Advertiser Performance Report
      security:
        - API Key: []
      x-stoplight:
        id: rg7sxyzlixhqx
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      x-stoplight:
        id: 81ch3rvtvd6je
    Error:
      type: object
      properties:
        success:
          type: boolean
          description: Response status
          example: false
        error:
          type: object
          properties:
            code:
              description: Error code
              type: integer
              example: 13
            message:
              description: Error message
              type: string
              example: Invalid API Key
      x-stoplight:
        id: a97d7szkaz6zp
    AdvertiserCampaign:
      type: object
      properties:
        device:
          type: array
          items:
            type: string
        os:
          type: array
          items:
            type: string
        cities:
          type: array
          items:
            type: string
        citiesExclude:
          type: array
          items:
            type: string
        isps:
          type: array
          items:
            type: string
        region:
          type: array
          items:
            type: string
        flow:
          type: array
          items:
            type: string
        title:
          type: string
          items:
            type: string
        url:
          type: string
          format: uri
        currency:
          type: string
          example: USD
        status:
          type: string
          enum:
            - active
            - pending
            - paused
            - disabled
            - expired
        cshp:
          type: string
          example: approved
        dcla:
          type: string
          example: none
        extOfferId:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        payouts:
          type: array
          items:
            type: object
            properties:
              region:
                type: array
                items:
                  type: string
              city:
                type: array
                items:
                  type: string
              _id:
                type: string
              model:
                type: string
              revenue:
                type: number
                minimum: 0
              created:
                type: string
              currency:
                type: string
              campaignId:
                type: string
              landingPages:
                type: array
                items:
                  type: string
              pubIds:
                type: array
                items:
                  type: string
              payout:
                type: number
                minimum: 0
              geo:
                type: array
                items:
                  type: string
              allowedValues:
                type: array
                uniqueItems: true
                items:
                  type: string
        creatives:
          description: List of creatives associated with campaign
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/Creatives'
        iurl:
          type: string
        hashId:
          type: string
        advertiserId:
          type: string
        id:
          type: integer
        previewUrl:
          type: string
          format: uri
        categories:
          type: array
          items:
            type: string
        commModel:
          type: string
        payoutCalParam:
          type: string
        geo:
          type: array
          items:
            type: string
        blockedPubs:
          type: array
          items:
            type: integer
        fallbackUrl:
          type: string
        convTracking:
          type: string
          enum:
            - postback
            - iframe_https
            - image_https
        convTrackingDomain:
          type: string
        visibility:
          type: string
          default: public
          enum:
            - public
            - private
            - permission
        subIdsBlocked:
          type: array
          items:
            type: string
        subIdsAllowed:
          type: array
          items:
            type: string
        blacklistPostbackPubs:
          type: array
          items:
            type: integer
        whitelistPostbackPubs:
          type: array
          items:
            type: integer
        redirectType:
          type: string
          enum:
            - '302'
            - 302_hrf
            - '200'
            - 200_hrf
        cancelBlockedPbConv:
          type: integer
          default: 1
        defaultLpName:
          type: string
        allowTrafficDiversion:
          type: integer
      x-stoplight:
        id: bt2u5b28tqjx8
    AdvertiserCampaignData:
      type: object
      properties:
        success:
          type: boolean
          description: Response status
          example: true
        campaigns:
          type: array
          items:
            $ref: '#/components/schemas/AdvertiserCampaign'
        pagination:
          type: object
          properties:
            perPage:
              type: integer
              default: 100
            nextPageToken:
              type: string
      x-stoplight:
        id: b69552vc08927
  securitySchemes:
    API Key:
      type: apiKey
      name: X-Api-Key
      in: header
security:
  - API Key: []
